.hidden {
    display: none;
}

body {
    padding-top: 70px;
    background-color: #fff;
}

.log-in {
    width: 23%;
    min-width: 300px;
}

.new-to-blog {
    margin-bottom: 0;
}

.register {
    width: 25%;
    min-width: 320px;
}

.log-in .btn, .register .btn {
    margin-top: 5px;
    width: 100%;
}

.alert > p + p {
    margin-top: 0;
}

.register .text-center h1, .create-post .text-center h1  {
    margin-top: 0;
    margin-bottom: 10px;
}

.create-post {
    width: 70%;
    min-width: 320px;
    margin-top: -5px;
}

.create-post .btn {
    margin-top: 5px;
}

/*.create-post .alert {*/
    /*margin-top: 5px;*/
/*}*/